.wrapper{
    margin: 130px auto 20px;
    border: 1px solid #aaa;
  }

  body{
    margin-top:5%;
  }

  h1{
    font-size:1.2rem;
  }
  
  h2{
    font-size:1.2rem;
    text-align: center;
    margin: 0 0 30px 0;
  }
  
  p{
    margin-top:20px;  
  }
  
  small{
    color:#fff;
    display: block;
    text-align: center;
  }
  
  #header{
    width:100%;
    background:#333;
    color:#fff;
    text-align: center;
    padding: 20px;
  }
  
  section{
    padding:100px 30px;
  }
  
  section:nth-child(2n){
    background:#f3f3f3; 
  }
  
  .letter-box{
    width:fit-content;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   
    padding: 10px;
  }

  .header-logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 0 15px 30px;
    width: 200px;
  }
  .header-logo img{
    width: 150px;
    height: auto;
    top: 10px;
    position: absolute;
  }
  .fix_menu{
    position: fixed;
    width: 100%;
    max-height: 30px;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    padding: 30px 0 25px;
  }
  #navwrap{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 30px 15px 0;
    box-shadow: none;
    border: none;
  }
  .header_menu{
    display: flex;
  }
  ul,li{
    list-style: none;
    margin: 0;
  }
  .header_menu li a{
    cursor: pointer;
    padding: 0 10px;
    text-decoration: none;
    color: #333;
  }
  #switch{
    display: none;
  }
  .main p{
    padding: 500px 0;
    text-align: center;
  }
  @media screen and (max-width:768px) {
    #switch ~ label {
        padding: 12px 12px;
        width: 60px;
        height: 60px;
        background: #ffffff00; 
        position: fixed;
        box-sizing: border-box;
        top: 0;
        right: 0;
        z-index: 999;
        cursor: pointer;
    }
    #switch ~ label span{
        display: block;
        width:22px;
        height:2px;
        top: 50%;
        left: 0;
        right: 0;
        margin:auto;
        background: #333; 
        position: absolute;
        transition: 0.2s transform, 0.2s;
    }
    #switch ~ label span:before,
    #switch ~ label span:after{
        content: "";
        display: block;
        background: #333; 
        position: absolute;
        width:22px;
        height:2px;
        left: 0;
        right: 0;
        margin: auto;
        transition: 0.2s transform, 0.2s top;
    }
    #switch ~ label span:before{
        top: -9px;
    }
    #switch ~ label span:after{
        top: 9px;
    }
    #switch:checked ~ label span {
        background: transparent;
    }
    #switch:checked ~ label span:before {
        transform: rotate(45deg);
        top: 0;
    }
    #switch:checked ~ label span:after {
        transform: rotate(-45deg);
        top: 0;
    }
    #navwrap{
        padding-top: 0;
        position: fixed;
        top: -100%;
        left: 0;
        width: calc(100% - 60px);
        height: 100%;
        background:gray; 
        transition: all 0.4s;
        padding: 60px;
        box-sizing: border-box;
    }
    #switch:checked ~ #navwrap { 
        display: block; 
        top: 0;
    }
    .header_menu{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    .header_menu li{
        margin: 0 auto 30px;
    }
    .header_menu li a{
        color:white ; /* テキストを黒に設定 */
    }
    .scroll-prevent {
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
  }



    /*==================================================
    アコーディオンのためのcss
    ===================================*/

    /*アコーディオン全体*/
    .accordion-area{
        list-style: none;
        width: 96%;
        max-width: 900px;
        margin: 0 auto;
    }

    .accordion-area li {
        margin: 10px 0;
    }

    .accordion-area section, .form-group {
        border: 1px solid #ccc;
    }

    /*アコーディオンタイトル*/
    .title-wrapper {
        display: flex;
        align-items: center;
    }

    .title {
        position: relative; /*+マークの位置基準とするためrelative指定*/
        cursor: pointer;
        font-size: 1rem;
        font-weight: normal;
        padding: 3% 3% 3% 50px;
        transition: all .5s ease;
        flex-grow: 1;
    }

    /*アイコンの＋と×*/
    .title::before,
    .title::after {
        position: absolute;
        content: '';
        width: 15px;
        height: 2px;
        background-color: #333;
    }

    .title::before {
        top: 50%;
        left: 15px;
        transform: translateY(-50%) rotate(0deg);
    }

    .title::after {
        top: 50%;
        left: 15px;
        transform: translateY(-50%) rotate(90deg);
    }

    /*　closeというクラスがついたら形状変化　*/
    .title.close::before {
        transform: translateY(-50%) rotate(45deg);
    }

    .title.close::after {
        transform: translateY(-50%) rotate(-45deg);
    }

    /*アコーディオンで現れるエリア*/
    .box {
        display: none; /*はじめは非表示*/
        background: #f3f3f3;
        margin: 0 3% 3% 3%;
        padding: 3%;
    }

    .box label {
        display: block;
        margin-bottom: 5px;
    }

    /*========= レイアウトのためのCSS ===============*/

    h2 {
        text-align: center; /* 中央に配置 */
        margin: 30px 0;
        padding-top: 30px;
        font-size: 1rem;
    }

    /*表示用のpタグのスタイル*/
    .selected-text {
        margin: 0px 20px 0px 10px;
        font-weight: bold;
    }

    /* 入力ボックスのスタイル */
    .input-box {
        margin-bottom: 5px;
        padding:20px;
        
    }

    .form-container {
        text-align: center;
    }

    .form-container input[type="text"] {
        width: 100%;
        box-sizing: border-box;
    }

    .form-container input[type="date"],
    .form-container input[type="time"] {
        width: auto;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin: 5px;
        width: 96%;
        padding:20px;
        max-width: 900px;
    }

    .form-group label {
        width: 150px;
        margin-right: 10px;
    }

    .form-group input[type="text"], textarea {
        flex-grow: 1;
        width: 100%;
        box-sizing: border-box;
    }

    .form-group textarea {
        height: 300px; /* 縦幅を800pxに設定 */
    }

     /* スタイルは必要に応じて適宜調整してください */
     #modal {
        display: none;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    #modal img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
    }

    #area-2, #area-4{
        background: white;
    }

    input[type="text"],
textarea {
    outline: none; /* アウトラインを削除 */
}

#clear-image {
    display: none;
    padding: 10px 20px; /* パディングを追加してボタンのサイズを調整 */
    background-color: #007bff; /* 背景色 */
    color: #fff; /* テキスト色 */
    border: none; /* ボーダーを削除 */
    border-radius: 5px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
}

#clear-image:hover {
    background-color: #83346b; /* ホバー時の背景色 */
}

#reset{
    padding: 10px 20px; /* パディングを追加してボタンのサイズを調整 */
    border: 1px solid black; /* ボーダーを削除 */
    border-radius: 5px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
}

#reset:hover{
    background-color: #83346b; /* ホバー時の背景色 */
    color: #fff; /* テキスト色 */
    border: 1px solid white; /* ボーダーを削除 */
}

#save{
    padding: 20px; /* パディングを追加してボタンのサイズを調整 */
    background-color: #415099; /* 背景色 */
    color: #fff; /* テキスト色 */
    border: none; /* ボーダーを削除 */
    border-radius: 5px; /* 角丸 */
    border: 1px solid white; /* ボーダーを削除 */
    cursor: pointer; /* カーソルをポインターに変更 */
}

#save:hover{
    background-color: #34407a; /* ホバー時の背景色 */
}

#header .menu-bar a{
    margin-bottom: 20px;
    color: #fff;
    
}

.menu-bar{
    justify-content: space-between;
    width: 100%;
}




