.tab {
    max-width: 100%;
    margin: 0 auto;
    padding:0;
    
  }
  
  /* タブメニュー */
  .tab__menu {
    display: flex;
    align-items: flex-end; /* メニューを下揃え */
    justify-content: center;
    min-height: 50px; /* メニュー切替時にタブがズレないように */
    padding: 0;
    margin: 0;
  }
  
  .tab__menu-item {
    list-style: none;
    width: 100%;
    padding: 20px; /* メニューに高さを付ける */
    text-align: center;
    background-color: #3d4162;
    cursor: pointer;
    color: white;
    margin-top: 0;
    transition: all .3s; /* アニメーション */
    font-weight: bolder;

  }
  
  
  .tab__menu-item:last-of-type {
    margin-right: 0px;
  }
  
  
  /* タブパネル */
  .tab__panel {
   width: 100%;
   height: 500px;
  }
  
  .tab__panel-box {
    min-height: 400px;
    padding: 10px 30px;
    border-top: none;
  }
  
  .tab__panel-box001 {
    background: #b4cbcf;
    display: none;
  }
  
  .tab__panel-box002 {
    background-color: 	#3E4460;
    display: none;
  }
  
  /* is-showがついている時のスタイル */
  .tab__panel-box.is-show {
    display: block;
  }

  #tab-02{
    background-color: 	#3E4460;
    color:  #b4cbcf;
  }

  #tab-01{
    color:  #3E4460;
    background: #b4cbcf;
  }

  #tab-02:hover{
    background-color: 	#2e334c;
    color:  #b4cbcf;
  }

  #tab-01:hover{
    color:  #3E4460;
    background: #9ab1b5;
  }

  .about-us{
    margin-top:20px;color: white; text-align: right; 
  }

  .about-us h2{
    padding: 30px;
  }
