
body{
    background: white;
}
.tab {
max-width: 100%;
margin: 0 auto;
padding:0;

}

/* タブメニュー */
.tab__menu {
display: flex;
align-items: flex-end; /* メニューを下揃え */
justify-content: center;
min-height: 50px; /* メニュー切替時にタブがズレないように */
padding: 0;
margin: 0;
}

.tab__menu-item {
list-style: none;
width: 100%;
padding: 20px; /* メニューに高さを付ける */
text-align: center;
background-color: gray;
cursor: pointer;
color: white;
margin-top: 0;
transition: all .3s; /* アニメーション */
font-weight: bolder;

}


.tab__menu-item:last-of-type {
margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
background: #b4cbcf;
color: #3E4460;
}

/* タブパネル */
.tab__panel {
width: 100%;
height: 500px;
}

.tab__panel-box {
min-height: 400px;
padding: 10px 30px;
border-top: none;
}

.tab__panel-box001, .tab__panel-box002,  .tab__panel-box003  {
background: #b4cbcf;
display: none;
}

/* is-showがついている時のスタイル */
.tab__panel-box.is-show {
display: block;
}

#tab-01, #tab-02,  #tab-03{
background:#3E4460;
color:  #b4cbcf;
}

small{
background-color: white; color: black; margin-bottom:0 ;
}



#page-top a{
display: flex;
justify-content:center;
align-items:center;
background:#942D2F;
border-radius: 5px;
width: 60px;
height: 60px;
color: #fff;
text-align: center;
text-transform: uppercase; 
text-decoration: none;
font-size:0.6rem;
transition:all 0.3s;
}

#page-top a:hover{
background: #777;
}

/*リンクを右下に固定*/
#page-top {
position: fixed;
right: 10px;
z-index: 2;
/*はじめは非表示*/
opacity: 0;
transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
from {
opacity: 0;
transform: translateY(100px);
}
to {
opacity: 1;
transform: translateY(0);
}
}

/*　下に下がる動き　*/

#page-top.DownMove{
animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
from {
opacity: 1;
transform: translateY(0);
}
to {
opacity: 1;
transform: translateY(100px);
}
}






#area-3 img{
    width:130px;
    padding: 10px;
}

.box label{
    display: flex;
    width: 100%;
    text-align: center;

}

#area-3 .box {
display: flex;
flex-wrap: wrap;
gap: 10px;
background-color: white;
}
#area-3 .option-box {
background-color: #f0f0f0;
border: 1px solid #ccc;
padding: 20px;
box-sizing: border-box;
flex: 1 1 200px; /* フレックスボックスの幅を設定 */
max-width: calc(33.333% - 20px); /* 最大幅を設定し、隙間を考慮 */
text-align: center; /* テキストを中央揃え */
}

.container {
display: flex;
flex-wrap: wrap;
gap: 10px;
}
.option-box {
display: flex;
flex-direction: column;
align-items: center;
background-color: #f0f0f0;
border: 1px solid #ccc;
padding: 20px;
box-sizing: border-box;
width: 200px;
cursor: pointer;
position: relative;
}
.option-box input[type="radio"] {
display: none;
}
.option-box input[type="radio"]:checked + label {
background-color: #c0c0ff; /* 選択された時のスタイル */
border-color: #8080ff;
}
.option-box img {
max-width: 100%;
height: auto;
}
.option-box label {
display: block;
width: 100%;
height: 100%;
text-align: center;
}