
body{
    background: white;

}

h1{
    text-align: center;
    margin-bottom: 20px;
}
.tab {
max-width: 100%;
margin: 0 auto;
padding:0;

}

small{
    background-color: white; color: black; margin-bottom:0;
}

/* タブメニュー */
.tab__menu {
display: flex;
align-items: flex-end; /* メニューを下揃え */
justify-content: center;
min-height: 50px; /* メニュー切替時にタブがズレないように */
padding: 0;
margin: 0;
}

.tab__menu-item {
list-style: none;
width: 100%;
padding: 20px; /* メニューに高さを付ける */
text-align: center;
background-color: gray;
cursor: pointer;
color: white;
margin-top: 0;
transition: all .3s; /* アニメーション */
font-weight: bolder;

}


.tab__menu-item:last-of-type {
margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
background: #b4cbcf;
color: #3E4460;
}

/* タブパネル */
.tab__panel {
width: 100%;
height: 500px;
}

.tab__panel-box {
min-height: 400px;
padding: 10px 30px;
border-top: none;
}

.tab__panel-box001, .tab__panel-box002,  .tab__panel-box003  {
background: #b4cbcf;
display: none;
}

/* is-showがついている時のスタイル */
.tab__panel-box.is-show {
display: block;
}

#tab-01, #tab-02,  #tab-03{
background:#3E4460;
color:  #b4cbcf;
}


.letter-btn{
       
    display: flex;
   
    margin: 10px;
    justify-content: space-around;
    gap: 30px;
}

.letter-btn button{
    margin: 10px;
    background-color: gray;
    border: 1px solid gray;
    padding:20px;
    width:200px;
    border-radius: 10px;
    color: white;
    
}

 .letter-btn button:hover{
    background-color: rgb(88, 87, 87);
 }