
.wrapper{
  margin: 130px auto 20px;
  border: 1px solid #aaa;
}

.bird-body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  
}

h1{
  font-size:1.2rem;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 30px auto 30px;
}

p{
  margin-top:20px;  
}

small{
  color:#000000;
  display: block;
  text-align: center;
}

#header{
  width:100%;
  background:#333;
  color:#fff;
  text-align: center;
  padding: 20px;
}

section{
  padding:100px 30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}

.letter-box{
  width:fit-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
 
  padding: 10px;
}

.header-logo{
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0 15px 30px;
  width: 200px;
}
.header-logo img{
  width: 150px;
  height: auto;
  top: 10px;
  position: absolute;
}
.fix_menu{
  position: fixed;
  width: 100%;
  max-height: 30px;
  background: white;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  padding: 20px 0 20px;
}
#navwrap{
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 30px 15px 0;
  box-shadow: none;
  border: none;
}
.header_menu{
  display: flex;
  gap: 20px;
}
ul,li{
  list-style: none;
  margin: 0;
}
.header_menu li a{
  cursor: pointer;
  padding: 0 10px;
  text-decoration: none;
  color: #333;
}
#switch{
  display: none;
}
.main p{
  padding: 500px 0;
  text-align: center;
}
@media screen and (max-width:768px) {
  #switch ~ label {
      padding: 12px 12px;
      width: 60px;
      height: 60px;
      background: white; 
      position: fixed;
      box-sizing: border-box;
      top: 0;
      right: 0;
      z-index: 999;
      cursor: pointer;
  }
  #switch ~ label span{
      display: block;
      width:22px;
      height:2px;
      top: 50%;
      left: 0;
      right: 0;
      margin:auto;
      background: #333; 
      position: absolute;
      transition: 0.2s transform, 0.2s;
  }
  #switch ~ label span:before,
  #switch ~ label span:after{
      content: "";
      display: block;
      background: #333; 
      position: absolute;
      width:22px;
      height:2px;
      left: 0;
      right: 0;
      margin: auto;
      transition: 0.2s transform, 0.2s top;
  }
  #switch ~ label span:before{
      top: -9px;
  }
  #switch ~ label span:after{
      top: 9px;
  }
  #switch:checked ~ label span {
      background: transparent;
  }
  #switch:checked ~ label span:before {
      transform: rotate(45deg);
      top: 0;
  }
  #switch:checked ~ label span:after {
      transform: rotate(-45deg);
      top: 0;
  }
  #navwrap{
      padding-top: 0;
      position: fixed;
      top: -100%;
      left: 0;
      width: calc(100% - 60px);
      height: 100%;
      background:gray; 
      transition: all 0.4s;
      padding: 60px;
      box-sizing: border-box;
  }
  #switch:checked ~ #navwrap { 
      display: block; 
      top: 0;
  }
  .header_menu{
      display: flex;
      flex-direction: column;
      margin-top: 100px;
  }
  .header_menu li{
      margin: 0 auto 30px;
  }
  .header_menu li a{
      color:white ;
  }
  .scroll-prevent {
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100%;
  }

  .fix_menu{
      height: 20px;
  }

}

/*===================================
アコーディオンのためのcss
===================================*/

/*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}

.accordion-area li {
  margin: 10px 0;
}

.accordion-area section, .form-group {
  border: 1px solid #ccc;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.title {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;
  flex-grow: 1;
}

/*アコーディオンで現れるエリア*/
.box {
  display: none; 
  background: #f3f3f3;
  margin: 0 3% 3% 3%;
  padding: 3%;
}

.box label {
  display: block;
  margin-bottom: 5px;
}

.selected-text {
  margin: 0px 20px 0px 10px;
  font-weight: bold;
}

.input-box {
  margin-bottom: 5px;
  padding:20px;
  
}

.form-container {
  text-align: center;
}

.form-container input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.form-container input[type="date"],
.form-container input[type="time"] {
  width: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 96%;
  padding:20px;
  max-width: 900px;
}

.form-group label {
  width: 150px;
  margin-right: 10px;
}

.form-group input[type="text"], textarea {
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}

.form-group textarea {
  height: 300px; 
}

#modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

#area-2, #area-4{
  background: white;
}

input[type="text"],
textarea {
  outline: none; 
}

#clear-image {
  display: none;
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
}

#clear-image:hover {
  background-color: #83346b; 
}

#reset, #save-draft{
  padding: 10px;
  border: 1px solid black; 
  border-radius: 5px; 
  font-size: 13px;
  cursor: pointer; 
  margin-bottom: 20px;
  width: 100%;
}

#reset:hover, 
#save-draft:hover{
  background-color: #36373a; 
  color: #fff; 
  border: 1px solid white; 
}

#save-preview{
  padding: 20px; 
  background-color: #415099; 
  color: #fff; 
  border: none; 
  border-radius: 5px; 
  border: 1px solid white; 
  cursor: pointer; 
  width: 100%;
}

#save-preview:hover{
  background-color: #34407a; 
}

#header .menu-bar a{
  margin-bottom: 20px;
  color: #fff;
  
}

.menu-bar{
  justify-content: space-between;
  width: 100%;
}


.input-with-icon {
position: relative;
}

.input-with-icon ion-icon {
position: absolute;
right: 20px; 
top: 40%; 
transform: translateY(-50%);
cursor: pointer;
font-size: 25px;
color: gray;
}





#menu-body, #create-body{
    background: white;

}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.tab {
    max-width: 100%;
    margin: 0 auto;
    padding:0;

}

small{
    background-color: white;
     color: black; 
     left: 50%;
     padding-bottom: 40px;
}

/* タブメニュー */
.tab__menu {
    display: flex;
    align-items: flex-end; /* メニューを下揃え */
    justify-content: center;
    min-height: 50px; /* メニュー切替時にタブがズレないように */
    padding: 0;
    margin: 0;
}

.tab__menu-item {
    list-style: none;
    width: 100%;
    padding: 20px; /* メニューに高さを付ける */
    text-align: center;
    background-color: gray;
    cursor: pointer;
    color: white;
    margin-top: 0;
    transition: all .3s; /* アニメーション */
    font-weight: bolder;
    border-bottom: 3px solid white;
}

.tab__menu-item:last-of-type {
margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
background: #3E4460;
color: #fff;
border-bottom: none;
}

/* タブパネル */
.tab__panel {
width: 100%;
height: fit-content;
}

.tab__panel-box {
min-height: 400px;
padding: 10px 30px;
border-top: none;
}

.tab__panel-box001, .tab__panel-box002,  .tab__panel-box003  {
background: #3E4460;
display: none;
}

/* is-showがついている時のスタイル */
.tab__panel-box.is-show {
display: block;
}

#tab-01, #tab-02,  #tab-03{
background:#3E4460;
color:  #b4cbcf;

}


.letter-btn{
       
    display: flex;
   
    margin: 10px;
    justify-content: space-around;
    gap: 30px;
}

.letter-btn button{
    margin: 10px;
    background-color: gray;
    border: 1px solid gray;
    padding:20px;
    width:200px;
    border-radius: 10px;
    color: white;
    
}

 .letter-btn button:hover{
    background-color: rgb(88, 87, 87);
 }


 .tab__panel-box {
    padding: 30px; /* Add some padding for spacing */
}

/* Parent container to hold multiple .my-letter-box elements */
.my-letter-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping to new lines if needed */
    gap: 20px; /* Space between the letter boxes */
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
   
}

.my-letter-box {
    display: flex;
    align-items: center; /* Vertically align items */
    border: 1px solid #ddd; /* Optional: Add border for better visual separation */
    padding: 15px; /* Optional: Add padding inside each letter box */
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.538);
    height: 80px;
}

.my-letter-box .write-top{
    background-color: rgba(255, 255, 255, 0);
    height: 80px;
}


.my-letter-box img {
    width: fit-content; 
    height: 100%;/* Adjust the size of the image as needed */
    margin-right: 16px; /* Space between the image and the text */
}

.my-letter-box ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.my-letter-box ul li {
    margin-bottom: 4px; /* Space between list items */
}

#logout{
    text-decoration: none;
    border-radius: 2px;
    padding: 8px;
    margin-top: -7px;
    color: white;
    font-size: smaller;
    background:#3E4460;
  }

#page-top a{
display: flex;
justify-content:center;
align-items:center;
background:#4a436d;
border-radius: 5px;
width: 60px;
height: 60px;
color: #fff;
text-align: center;
text-transform: uppercase; 
text-decoration: none;
font-size:0.6rem;
transition:all 0.3s;
}

#page-top a:hover{
background: #777;
}

/*リンクを右下に固定*/
#page-top {
position: fixed;
right: 15px;
top:87%;
z-index: 2;
/*はじめは非表示*/
opacity: 0;
transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
from {
opacity: 0;
transform: translateY(100px);
}
to {
opacity: 1;
transform: translateY(0);
}
}
    
/*　下に下がる動き　*/

#page-top.DownMove{
animation: DownAnime 0.5s forwards;
}
    @keyframes DownAnime{
    from {
    opacity: 1;
    transform: translateY(0);
    }
    to {
    opacity: 1;
    transform: translateY(100px);
    }
}

#read-tab, #write-tab{
    margin: 30px;
}





#menu-write, #menu-read {
    width: 350px;
    height: 300px;
    text-align: center;
    border: 3px solid #ffffffc2;
    background-color: rgba(0, 0, 0, 0.568);
    text-decoration: none;
    color: black;
    position: relative;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-write:hover, #menu-read:hover {
    background-color: rgb(0, 0, 0);
}

#menu-write .content, #menu-read .content {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#menu-write .hover-text, #menu-read .hover-text {
  top: 50%;
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

#menu-write:hover .content, #menu-read:hover .content {
  opacity: 0;
}

#menu-write:hover .hover-text, #menu-read:hover .hover-text {
  opacity: 1;
}




.button-image {
    width: 200px;
    height: auto;
    border-radius: 0 0 20px 20px;
    transition: opacity 0.3s ease;
    margin-top: -20px;
}

#menu-write:hover .button-image, #menu-read:hover .button-image {
    opacity: 1;
}

@media (max-width: 600px) {
    .home-menu {
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    #menu-write, #menu-read {
        width: 70%;
        height: fit-content;
        margin: 10px auto;
    }
}


.home-menu {
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;
}

#bird {
height: 100%;
width: 100%;
z-index: -20;
}

/* Responsive styles */
@media (max-width: 600px) {

body{
overflow: scroll;

}
.home-menu {
flex-direction: column;
width: 80%;
gap: 20px;
font-size: smaller;
}
.home-menu a {
margin: 10px 0;
}

.home-menu img{
width: 100px;
height: fit-content;
padding-bottom: 30px;
}

.home-menu p{
margin-top: -20px;
}
}


#menu-write, #menu-read {
width: 350px;
height: 300px;
text-align: center;
border: 3px solid #ffffffc2;
background-color: rgba(0, 0, 0, 0.568);
text-decoration: none;
color: black;
position: relative;

transition: background-color 0.3s ease;
display: flex;
flex-direction: column;
align-items: center;
}

#menu-write:hover, #menu-read:hover {
background-color: rgb(0, 0, 0);
}

#menu-write:hover .content, #menu-read:hover .content {
opacity: 0;
}

#menu-write:hover .hover-text, #menu-read:hover .hover-text {
top: 50%;
opacity: 1;
transform: translateY(-50%);
}

.content {
transition: opacity 0.3s ease;
padding: 20px;
color: white;
}

.hover-text {
position: absolute;
top: 150%;
left: 0;
width: 100%;
background-color: #4f6d72ca;
font-size: larger;
font-weight: bolder;
color: white;
text-align: center;
transition: all 0.3s ease;
opacity: 0;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
padding: 20px; /* Ensure there's enough padding to display the text */
box-sizing: border-box; /* Include padding in the element's total width and height */
}

#menu-write .hover-text {
background-color: rgba(127, 120, 149, 0.757);
}

.button-image {
width: 200px;
height: auto;
border-radius: 0 0 20px 20px;
transition: opacity 0.3s ease;
margin-top: -20px;
}

#menu-write:hover .button-image, #menu-read:hover .button-image {
opacity: 1;
}

@media (max-width: 600px) {
.home-menu {
flex-direction: column;
gap: 10px;
margin-top: 20px;
}

#menu-write, #menu-read {
width: 70%;
height: fit-content;
margin: 10px auto;
}
}


.home-menu {
z-index: 20;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 70px;
}


/* Responsive styles */
@media (max-width: 600px) {

body{
overflow: scroll;

}
.home-menu {
flex-direction: column;
width: 80%;
gap: 20px;
font-size: smaller;
}
.home-menu a {
margin: 10px 0;
}

.home-menu img{
width: 100px;
height: fit-content;
padding-bottom: 30px;
}

.home-menu p{
margin-top: -20px;
}
}

#start-create {
text-decoration: none;
color: rgb(36, 36, 59);
font-weight: bolder;
transition: all 0.5s;
background-color: #677e84;
margin: 30px 15px 10px;

font-size: 17px;
padding: 20px;
margin: auto;
width: fit-content;
text-align: center;
color: white;
border: none;
border: 2px solid white;
cursor: pointer;


}

#start-create:hover {
background-color: #435a61;
}

.button-icon {
margin-right: 10px;
}

.button-text {
font-weight: bold;
}

.my-letter-container01 {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.my-letter-container01 .write-top {
box-sizing: border-box;
}


.my-letter-container01 .write-top:first-child {
width: 50%;
border: none;
align-self: flex-end;
padding-bottom: 50px; /* 下側に配置 */
}

.my-letter-container01 {
display: flex;
}

.my-letter-container01 .write-top:last-child {
display: flex;
flex-direction: column;
width: fit-content;
max-width: 80%; /* 最大幅を80%に制限 */
text-align: center;
height: fit-content;
align-self: flex-end; /* 下側に配置 */
border: none;
margin: 30px;
}

.tab__panel-box {
padding-bottom: 50px;
}

.button-text {
color: rgb(60, 60, 94);
}

.button-text:hover {
color: white;
}

.envelope {
position: relative;
width: 320px;
height: 210px;
background-color: #c9c7d1;
margin: 140px auto 10px;
z-index: 0;
box-shadow: 0 0 30px rgba(252, 251, 251, 0.5); /* 水平方向0、垂直方向0、ぼかし半径30px */
}

.envelope__triangle {
position: absolute;
margin: auto;
width: 0;
height: 0;
}

.envelope__triangle--left {
border-top: 212px solid transparent;
border-bottom: 0 solid transparent;
border-right: 319px solid #c9c7d1;
z-index: 2;
}

.envelope__triangle--right {
border-top: 106px solid transparent;
border-bottom: 106px solid transparent;
border-left: 160px solid #d1d0d8;
z-index: 2;
}

.envelope__triangle--down {
border-left: 160px solid transparent;
border-right: 160px solid transparent;
border-top: 106px solid #bdbac5;
z-index: 2;
transition: all 1s linear;
}

.is-open .envelope__triangle--down {
transform: translate(0px, -106px) scale(1, -1);
pointer-events: none;
z-index: 1;
}

.envelope__letter {
position: absolute;
margin: auto;
left: 0;
right: 0;
width: 80%;
height: 50%;
padding: 1em;
font-size: 13px;
color: #555;
background-color: #fff;
z-index: 2;
transition: all 1s linear 0.5s;
}

.is-open .envelope__letter {
transform: translate(0px, -106.5px);
height: 210px;
z-index: 2;
}

h1 {
text-align: center;
margin: auto;
color: white;
opacity: 0; /* 初期状態で非表示 */
transition: opacity 2s; /* フェードインアニメーション */
}

.fade-in {
opacity: 1; /* フェードイン後の状態 */
}



@media (max-width: 600px) {
.my-letter-container01 {
flex-direction: column;
align-items: center;
padding: 10px;
}

.write-top {
width: 90%; /* 幅を90%に設定して広くする */
max-width: 80%; /* 幅の最大値を設定 */
margin: 10px 0; /* 上下にマージンを追加 */
padding: 5px; /* パディングを調整 */
}

#start-create {
width: 200px;
}

.my-letter-container01 .write-top:first-child {
width: 70%;
}

.my-letter-container01 .write-top:last-child {
max-width: 100%;
margin-top: -20px;
}

.tab__menu-item {
font-size: 12px;
height: 30px;
}

.envelope {
width: 240px; /* スマホ画面での幅 */
height: 160px; /* スマホ画面での高さ */
margin: 70px auto 10px; /* 上マージンを調整 */
}

.envelope__triangle--left {
border-top-width: 160px;
border-right-width: 240px;
}

.envelope__triangle--right {
border-top-width: 80px;
border-bottom-width: 80px;
border-left-width: 120px;
}

.envelope__triangle--down {
border-left-width: 120px;
border-right-width: 120px;
border-top-width: 80px;
}

.is-open .envelope__triangle--down {
transform: translate(0px, -80px) scale(1, -1);
}

.envelope__letter {
width: 80%;
height: 50%;
padding: 0.5em;

}

#start-create{
font-size: 17px;
width: 60%;
}



.is-open .envelope__letter {
transform: translate(0px, -80px);
height: 160px;
}
}


body, #area-6, #area-3, 
.form-group, input{
background: white;
}

@keyframes fadeIn {
from {
opacity: 0;
}
to {
opacity: 1;
}
}

body {
opacity: 0;
animation: fadeIn 1s ease-in forwards; 
}

.menu-now{
border-bottom: 1px solid #aaa;
}


h2{
margin-top: 50px;
color: #3E4460;
font-size: 20px;
}

.qr-code-options-container {
width: 100%;
max-width: 600px;
margin: 0 auto;
padding: 20px;
}

.radio-tile-group {
display: flex;
justify-content: center;
margin-top: 20px;
}

.input-container {
position: relative;
height: 3rem;
width: auto;
margin: 0.5rem;

}

.radio-button {
opacity: 0;
}

.radio-tile {
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
border-radius: 5px;
padding: 8px;
border: 1px solid #aaa;
height: fit-content;
margin-top: -35px;
}

.radio-tile-label {
text-align: center;
font-size: 17px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 1px;
border-radius: 5px;
padding: 0.5rem 1rem;
}

.radio-button:checked + .radio-tile {
background-color: #8d9ba1;
color: white;
}

.radio-button:checked + .radio-tile 
.radio-tile-label {
color: white;
}

.send-to-sender,
.send-to-receiver,
.password-container {
display: none;
margin-top: 20px;
}


/* フェードインのアニメーション */
@keyframes fadeIn {
from {
opacity: 0;
}
to {
opacity: 1;
}
}

/* フェードアウトのアニメーション */
@keyframes fadeOut {
from {
opacity: 1;
}
to {
opacity: 0;
}
}

/* 要素の表示時のアニメーション */
.fade-in {
animation: fadeIn 0.5s ease-in-out forwards;
}

/* 要素の非表示時のアニメーション */
.fade-out {
animation: fadeOut 0.5s ease-in-out forwards;
}

.form-container {
display: flex;
justify-content: center;
gap: 1rem;
margin-top: 10px;
}

.password-input {
padding: 0.5rem;
font-size: 1rem;
border: 1px solid #aaa;
outline: none;
width: 100%;
}

.qr-code-options-container{
width:100%;
padding:0;

}

#area-2, #area-3{
margin: 0;
padding: 0;
}



/* アコーディオン、ラジオボタンの設定 */
.box {
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: center;
align-items: center;
}

.option-box {
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
box-sizing: border-box;
position: relative;
width: 100%;
height: 180px;
}

.option-box input[type="radio"] {
display: none;
}

.option-box label {
display: flex;
width: 100%;
height: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
cursor: pointer;
border-radius: 5px;
padding: 5px;
font-size: smaller;
background: white;
transition: transform 300ms ease, 
background-color 300ms ease, color 300ms ease;
}

.option-box label img {
width: 100px;
margin-top: 10px;
padding: 5px auto 7px;
height: fit-content;
}

.option-box input[type="radio"]:checked + label {
background-color: #8d9ba1;
color: white;
transform: scale(1.1, 1.1);
}

@media (max-width: 768px) {
.box {
grid-template-columns: repeat(2, 1fr);
}

h2, p, label{
font-size: smaller;
}
}

@media (max-width: 480px) {
.box {
grid-template-columns: 1fr;
}

h2, p, label{
font-size: smaller;
}

.radio-tile-label{
font-size: 12px;
}
}

.send-to-sender, .send-to-receiver, 
.password-container{
background-color: #f0f0f0;
padding:30px;
width: 100%;
border-radius: 10px;
margin: 0;
}

.send-to-sender h3, .send-to-receiver h3, 
.password-container h3{
color: rgb(129, 58, 58);
}
